a:hover {
  color: $primary-color;
}

.owl-next:focus,
.owl-prev:focus {
  outline: none;
}
.owl-theme .owl-nav {
  margin-top: 0;
}
.owl-carousel {
  padding-left: 0;
  padding-right: 0;
}
.btn {
  margin: 2rem auto 0;
  @include font-size(1.6, 2.2);
  padding: 1.1rem 2rem;
  border-radius: 0.6rem;
  transition: all 0.3s ease;
  display: block;
  width: fit-content;
  cursor: pointer;
  @include media-breakpoint-down(sm) {
    margin: 1rem auto 0;
  }
  &.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover {
      opacity: 0.8;
    }
  }
}
.product-lists .owl-stage-outer,
.news-home-list .owl-stage-outer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.product-lists.owl-carousel {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.menu-bars-close {
  transition: 0.5s;
  &--toggle {
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    display: block;
    top: 0;
    left: 0;
  }
}
