// sass ./sass/account-password.scss ./css/account-password.css --watch
@import "variables";
@import "mixin";
@import "reset";
@import "global";
@import "header";
@import "footer";
@import "account";
.change-password {
  width: 100%;
  max-width: 37rem;
  display: flex;
  @include media-breakpoint-down(md){
    max-width: 100%;
  }
  form {
    width: 100%;
  }
  .changepass-item {
    display: flex;
    flex-direction: column;
    position: relative;
    &.required {
      label {
        &::after {
          content: "*";
          color: #cb1515;
          @include font-size(1.4, 1.9);
          margin-left: 0.5rem;
        }
      }
    }
    label {
      @include font-size(1.4, 1.9);
      margin-bottom: 0.6rem;
    }
    input {
      width: 100%;
      background: #ffffff;
      border: 1px solid #d9d9d9;
      border-radius: 6px;
      height: 4rem;
      padding: 1rem 2rem;
      font-size: 1.4rem;
      line-height: 1.9rem;
    }
    .hide-pass {
      position: absolute;
      width: 1.4rem;
      height: 1.4rem;
      right: 2rem;
      bottom: 1.3rem;
      border: 0;
      outline: none !important;
      background: #fff url(../images/icon-hide-eye.svg) no-repeat center;
      background-size: contain;
    }
    & + .changepass-item {
      margin-top: 2rem;
    }
  }
  button.btn {
    width: 100%;
    margin-top: 3rem;
  }
  
}
.modal-open .modal {

    .modal-content{
      border-radius: 1rem;
      padding:3rem 2rem 2rem;
      max-width: 40rem;
      margin: 0 auto;
      &::before{
        content: "";
        width:0px;
        height:0px;
        border-left:1rem solid transparent;
        border-right:1rem solid transparent;
        border-bottom:1.5rem solid #fff;
        display: inline-block;
        position: absolute;
        top: -1.5rem;
        right: 6.4rem;
      }
    }
    .modal-body{
      padding: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      img{
        @include box(3rem);
        display: block;
        margin: 0 auto 2rem;
      }
      p{
        text-align: center;
        @include font-size(1.6,2.2);
        color: #000000;
        margin-bottom: 1rem;
      }
      button{
        background: $primary-color;
        border-radius: 6px;
        border: none;
      }
    }
}
  