.footer {
  &--top {
    border-top: 1rem solid #ddd;
    padding: 3rem 0 2rem;
    .container {
      display: flex;
      flex-flow: row wrap;
      .col-menu {
        flex: 1;
        display: flex;
        justify-content: space-between;
        padding-right: 6.3rem;
        border-right: 1px solid #e5e5e5;
        @include media-breakpoint-down(lg) {
          padding-right: 1.5rem;
        }
        @include media-breakpoint-down(md) {
          width: 100%;
          flex: unset;
          border-right: none;
          padding-right: 0;
        }
      }
      .col-download {
        width: 47%;
        max-width: 46.4rem;
        flex-shrink: 0;
        padding-left: 6.4rem;
        @include media-breakpoint-down(lg) {
          padding-left: 1.5rem;
        }
        @include media-breakpoint-down(md) {
          width: 100%;
          padding-left: 0;
          margin: 0 auto;
        }
      }
      .download-app {
        &-title {
          @include font(2, 2.7, 600);
          margin-bottom: 3rem;
          text-transform: uppercase;
          color: #000;
        }
        &-link {
          display: flex;
          justify-content: space-between;
          a {
            @include box(17rem, 6.3rem);
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
  &--bottom {
    padding: 3.2rem 1.5rem 3.7rem;
    position: relative;
    .col-info {
      padding-left: 11.5rem;
      display: flex;
      flex-flow: row wrap;
      gap: 3rem 12rem;
      @include media-breakpoint-down(lg) {
        padding-left: 3rem;
        gap: 3rem 10rem;
      }
      @include media-breakpoint-down(md){
        padding-left: 1.5rem;
      }
      &-item {
        width: calc(50% - 6rem);
      }
      &-title {
        @include font(2, 2.7, 600);
        color: #000000;
        margin-bottom: 1.5rem;
        &.text-blue {
          color: #0077ff;
        }
      }
      &-content {
        p {
          @include font(1.4, 2.2);
          color: #1a1a1a;
          position: relative;
          span {
            font-weight: 600;
          }
          a {
            color: #0077ff;
          }
          & + p {
            padding-top: 1rem;
          }
        }
      }
      .info-address,
      .info-phone,
      .info-email {
        padding-left: 2.4rem;
        &::before {
          position: absolute;
          left: 0;
          font-weight: 700;
          font-size: 1.4rem;
          @include box(1.4rem);
        }
      }
      .info-address::before {
        @include fa5('\f3c5');
      }
      .info-phone::before {
        @include fa5('\f879');
      }
      .info-email::before {
        @include fa5('\f0e0');
      }
    }
  }

  &-logo {
    display: block;
    width: 100%;
    margin-bottom: 3rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @include media-breakpoint-down(lg){
      max-width: 27rem;
    }
  }
  &-bct {
    display: block;
    img {
      max-height: 5.6rem;
      object-fit: contain;
    }
  }
  &-info {
    &__address {
      position: relative;
      padding-left: 2rem;
      &::before {
        @include fa5('\f3c5');
        position: absolute;
        left: 0;
        font-weight: 700;
      }
    }
    &__phone {
      position: relative;
      padding-left: 2rem;
      &::before {
        @include fa5('\f879');
        position: absolute;
        left: 0;
        font-weight: 700;
      }
    }
    &__email {
      position: relative;
      padding-left: 2rem;
      &::before {
        @include fa5('\f0e0');
        position: absolute;
        left: 0;
        font-weight: 700;
      }
    }
  }
  .menu-footer {
    &:first-of-type {
      a {
        color: #000000;
        font-weight: 600;
      }
    }

    &__link a {
      display: block;
      @include font(1.4, 2.2);
      color: #1a1a1a;
      padding-bottom: 1rem;
      &:hover {
        color: $primary-color;
      }
    }
    @include media-breakpoint-down(sm) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0 0.5rem;
    }
  }
  & .social-network {
    margin-bottom: 3rem;
    @include media-breakpoint-down(md) {
      margin-bottom: 1.5rem;
    }
    &__title {
      @include font(2, 2.2, 600);
      margin-bottom: 1.5rem;
      color: $black;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      & li + li {
        margin-left: 1.5rem;
      }
      a {
        @include box(3rem);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid #777777;
        img {
          @include box(1.6rem);
        }
      }
    }
  }
}
