a:hover {
  color: $primary-color;
}

.owl-next:focus,
.owl-prev:focus {
  outline: none;
}
.owl-theme .owl-nav {
  margin-top: 0;
}
.owl-carousel {
  padding-left: 0;
  padding-right: 0;
}
.btn {
  margin: 2rem auto 0;
  @include font-size(1.6, 2.2);
  padding: 1.1rem 2rem;
  border-radius: 0.6rem;
  transition: all 0.3s ease;
  display: block;
  width: fit-content;
  cursor: pointer;
  @include media-breakpoint-down(sm) {
    margin: 1rem auto 0;
  }
  &.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover {
      opacity: 0.8;
    }
  }
}

.product-lists .owl-stage-outer,
.news-home-list .owl-stage-outer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.product-lists.owl-carousel {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.menu-bars-close {
  transition: 0.5s;
  &--toggle {
    width: 100vw;
    height: 100vh;
    z-index: 101;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: block;
    top: 0;
    left: 0;
  }
}
.breadcrumb {
  background: #f5f5f5;
  height: 4.9rem;
  padding: 1.5rem 0;
  margin-bottom: 8rem;
  @include media-breakpoint-down(md) {
    margin-bottom: 4rem;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 1.5rem;
    height: auto;
  }
  &-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  &-item {
    a {
      color: #00000073;
      @include font-size(1.4, 2.2);
      &:hover {
        color: #000000;
      }
    }
    &.active {
      color: #000000;
      @include font-size(1.4, 2.2);
    }
    & + .breadcrumb-item {
      padding-left: 0.8rem;
      &::before {
        padding-right: 0.8rem;
        color: #00000073;
      }
    }
  }
}

.modal-open .modal {
  padding: 0 !important;
  background: rgb(43 43 43 / 70%);
  .modal-body{
    padding: 0;
  }
  .modal-dialog{
    top: 50%;
    transform: translateY(-50%);
  }
}
