// sass ./sass/home-page.scss ./css/home-page.css --watch
@import 'variables';
@import 'mixin';
@import 'reset';
@import 'global';
@import 'header';
@import 'footer';

.home-page {
  .hot-news {
    background: #f7f7f7;
    padding: 5rem 0;
    @include media-breakpoint-down(md) {
      padding: 3rem 0;
    }
    @include media-breakpoint-down(sm) {
      padding: 1rem 0 3rem;
    }
    &-list {
      @include owl(2rem);
    }
    .box-blog-post {
      a {
        position: relative;
      }
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
      .box-image {
        @include img-cover(81.493%);
        border-radius: 0.6rem;
        overflow: hidden;
        @include media-breakpoint-down(sm) {
          padding-top: 82.9%;
        }
        &::before {
          content: '';
          display: block;
          @include box(100%);
          position: absolute;
          background: linear-gradient(
            180deg,
            #fff0 25%,
            #0000003f 50%,
            #000000e8 80%,
            #000 100%
          );

          inset: 0;
          z-index: 1;
          opacity: 0.7;
        }
      }
      .box-content {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2rem;
        z-index: 2;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        @include media-breakpoint-down(sm) {
          padding: 1rem 0.8rem 1rem 1rem;
        }
      }
      &__cate {
        padding: 0.5rem 1rem;
        background: $primary-color;
        border-radius: 0.4rem;
        color: #fff;
        @include font(1.4, 1.9);
        margin-right: 2rem;
        @include media-breakpoint-down(sm) {
          margin-right: 1rem;
        }
      }
      &__date {
        @include font(1.4, 1.9);
        color: #fff;
        display: inline-flex;
        align-items: center;
        &::before {
          content: '';
          display: inline-block;
          background: url(../images/icon-date-white.svg) no-repeat center;
          background-size: contain;
          @include box(1.4rem);
          margin-right: 0.5rem;
        }
      }
      &__title {
        @include font(3, 4.1, 600);
        color: #fff;
        margin: 1rem 0;
        @include media-breakpoint-down(sm) {
          margin: 0.6rem 0;
          @include font(2, 2.7);
        }
      }
      &__desc {
        @include font(1.4, 1.9);
        color: #fff;
      }
    }

    &--right {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      @include media-breakpoint-down(md) {
        display: none;
      }
      .box-blog-post {
        .box-image {
          @include img-cover(37.235%);
        }
        .box-content {
          padding: 1.5rem;
        }
        &__date {
          width: 100%;
          margin-top: 0.5rem;
        }
        &__title {
          @include font(1.6, 2.2, 600);
          margin: 1rem 0 0;
        }
      }
    }
  }
  .featured-match {
    background: #f7f7f7;
    padding-bottom: 5rem;
    @include media-breakpoint-down(sm) {
      padding-bottom: 3rem;
    }
    .football-match-list {
      @include owl(-6rem);
      .owl-nav {
        display: block;
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
    &-title {
      @include font(2.4, 3.3, bold);
      color: #000;
      margin-bottom: 3rem;
      display: inline-flex;
      align-items: center;
      &::before {
        content: '';
        @include box(2.4rem);
        display: inline-block;
      }
      @include media-breakpoint-down(sm) {
        @include font(1.4, 2.4);
        margin-bottom: 2rem;
      }
    }
    .football-match {
      text-align: center;
      background: #e5e5e5;
      border-radius: 0.6rem;
      padding: 2rem;
      @include media-breakpoint-down(sm) {
        width: 26rem;
        padding: 1rem;
      }
      &-name {
        @include font(1.4, 1.9);
        color: #000;
        margin-bottom: 0.5rem;
        @include media-breakpoint-down(sm) {
          margin-bottom: 0.9rem;
        }
      }
      &-date {
        @include font(1.6, 2.2, 600);
        margin-bottom: 1rem;
        color: $primary-color;
        @include media-breakpoint-down(sm) {
          @include font(1.4, 1.9);
        }
      }
    }
    .football-team {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .football-club {
        @include box(12.1rem);
        padding: 1.3rem 0;
        @include media-breakpoint-down(sm) {
          @include box(auto);
          padding: 1rem 0;
        }
        &__image {
          margin: 0 auto;
          @include box(7.1rem);
          overflow: hidden;
          border-radius: 50%;
          margin-bottom: 0.5rem;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &__name {
          @include font(1.4, 1.9, 600);
          color: #000;
        }
      }
      span {
        @include font(2.2, 3, 800);
        color: #000;
      }
    }
  }
  .latest-news {
    padding: 8rem 0;
    @include media-breakpoint-down(md) {
      padding: 5rem 0;
    }
    .row {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: calc(100% - 3rem);
        left: 1.5rem;
        bottom: 0;
        height: 0;
        border-bottom: 1px solid #e5e5e5;
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
    &-title {
      @include section-title;
    }
    &-list {
      display: flex;
      flex-flow: row wrap;
      gap: 0 3rem;
      @include media-breakpoint-down(sm) {
        gap: 0;
        padding-bottom: 4.3rem;
      }
    }
    .box-blog-post {
      &--first {
        padding: 1.5rem;
        border-radius: 1rem;
        background: #f7f7f7;
        margin-bottom: 2rem;
        @include media-breakpoint-down(sm) {
          margin: 0 -1.5rem 1.4rem;
        }
        a {
          display: flex;
          @include media-breakpoint-down(md) {
            flex-flow: row wrap;
          }
        }
        .box-image {
          width: 35.5rem;
          flex-shrink: 0;
          border-radius: 0.6rem;
          @include img-cover(27.8rem);
          @include media-breakpoint-down(lg) {
            width: 50%;
          }
          @include media-breakpoint-down(md) {
            width: 100%;
            padding-top: 27.4rem;
          }
        }
        .box-content {
          flex: 1;
          padding-left: 3rem;
          @include media-breakpoint-down(sm) {
            padding-left: 0;
            margin-top: 0.6rem;
          }
        }
        .box-blog-post__title {
          @include font(3, 4.1, 600);
          color: #000;
          margin-bottom: 1.5rem;
          -webkit-line-clamp: 3;
          @include media-breakpoint-down(lg) {
            @include font(2, 2.7, 600);
          }
          @include media-breakpoint-down(sm) {
            margin-bottom: 0.6rem;
          }
        }
        .box-blog-post__desc {
          @include media-breakpoint-down(sm) {
            @include font(1.4, 1.9);
            margin-bottom: 0;
          }
        }
        button {
          margin: 3rem 0 0;
          font-weight: 600;
          border-radius: 9rem;
          @include media-breakpoint-down(sm) {
            display: none;
          }
        }
      }
      width: calc(50% - 1.5rem);
      padding-bottom: 1.5rem;
      margin-bottom: 1.5rem;
      border-bottom: 1px solid #e5e5e5;
      @include media-breakpoint-down(sm) {
        width: 100%;
        padding-bottom: 1rem;
        margin-bottom: 1.4rem;
      }
      &__title {
        @include font(2, 2.7, 600);
        color: #000;
        margin-bottom: 1.5rem;
        @include line-clamp(2);
        @include media-breakpoint-down(sm) {
          @include font(1.6, 2.2);
          margin-bottom: 0.6rem;
        }
      }
      &__desc {
        color: #1a1a1a;
        @include font(1.6, 2.2);
        margin-bottom: 1.5rem;
        @include line-clamp(3);
        @include media-breakpoint-down(sm) {
          @include font(1.4, 1.9);
          margin-bottom: 1rem;
        }
      }
      &__date {
        @include font(1.4, 1.9);
        color: #777777;
        display: inline-flex;
        align-items: center;
        &::before {
          content: '';
          display: inline-block;
          background: url(../images/icon-date-gray.svg) no-repeat center;
          background-size: contain;
          @include box(1.4rem);
          margin-right: 0.5rem;
        }
      }
      &:nth-last-of-type(1),
      &:nth-last-of-type(2) {
        border-bottom: none;
        margin-bottom: 0;
        @include media-breakpoint-down(sm) {
          margin-bottom: 1.4rem;
          border-bottom: 1px solid #e5e5e5;
        }
      }
    }
    .latest-video {
      @include media-breakpoint-up(sm) {
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
        border-bottom: 1px solid #e5e5e5;
      }

      &__image {
        width: 100%;
        @include img-cover(22.8rem);
        border-radius: 0.6rem;
        @include media-breakpoint-down(md) {
          padding-top: 56.25% !important;
        }
        @include media-breakpoint-down(sm) {
          padding-top: 62.32% !important;
        }
      }
      .btn-play {
        position: absolute;
        z-index: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        outline: none !important;
        border: 2px solid rgb(255 255 255 / 50%);
        background: transparent url(../images/icon-play.svg) no-repeat center;
        background-size: 4rem;
        @include box(10rem);
        border-radius: 50%;
      }
      &__title {
        margin-top: 1.5rem;
        @include font(2, 2.7, 600);
        color: #000;
        @include media-breakpoint-down(sm) {
          margin-top: 0.6rem;
          @include font(1.6, 2.2);
        }
      }
    }
    .banner {
      margin-bottom: 1.5rem;
      @include media-breakpoint-down(md) {
        display: none;
      }
      &-image {
        display: block;
        border-radius: 0.6rem;
        @include img-cover(56.8rem);
      }
    }
  }
  .football-news {
    margin-bottom: 8rem;
    @include media-breakpoint-down(sm) {
      margin-bottom: 3.5rem;
    }
    .row {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: calc(100% - 3rem);
        left: 1.5rem;
        bottom: 0;
        height: 0;
        border-bottom: 1px solid #e5e5e5;
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
    &-title {
      @include section-title;
    }
    &-list {
      .box-blog-post {
        &:not(:last-of-type) {
          margin-bottom: 1.5rem;
          padding-bottom: 1.5rem;
          border-bottom: 1px solid #e5e5e5;
          @include media-breakpoint-down(sm) {
            margin-bottom: 1rem;
            padding-bottom: 1rem;
          }
        }
        &:last-of-type {
          padding-bottom: 1.5rem;
          @include media-breakpoint-down(sm) {
            padding-bottom: 1rem;
            margin-bottom: 1.7rem;
            border-bottom: 1px solid #e5e5e5;
          }
        }
        a {
          display: flex;
          flex-flow: row wrap;
        }
        .box-image {
          width: 12rem;
          @include img-cover(12rem);
          border-radius: 0.6rem;
          flex-shrink: 0;
          @include media-breakpoint-down(sm) {
            width: 8rem;
            padding-top: 8rem !important;
          }
        }
        .box-content {
          flex: 1;
          padding-left: 2rem;
          @include media-breakpoint-down(sm) {
            padding-left: 1rem;
          }
        }
        &__title {
          @include font(2, 2.7, 600);
          color: #000;
          margin-bottom: 1.5rem;
          @include line-clamp(1);
          @include media-breakpoint-down(sm) {
            @include font(1.6, 2.2);
            -webkit-line-clamp: 2;
            margin-bottom: 0.6rem;
          }
        }
        &__desc {
          @include font(1.6, 2.2);
          color: #1a1a1a;
          margin-bottom: 1.5rem;
          @include line-clamp(2);
          @include media-breakpoint-down(sm) {
            @include font(1.4, 1.9);
            -webkit-line-clamp: 3;
            margin-bottom: 0.6rem;
          }
        }
        &__date {
          @include font(1.4, 1.9);
          color: #777777;
          display: inline-flex;
          align-items: center;
          &::before {
            content: '';
            display: inline-block;
            background: url(../images/icon-date-gray.svg) no-repeat center;
            background-size: contain;
            @include box(1.4rem);
            margin-right: 0.5rem;
          }
        }
      }
    }
    &--right {
      margin-bottom: 1.5rem;
    }
  }
  .football-result {
    &-title {
      width: 100%;
      border-radius: 1rem 1rem 0 0;
      @include font(2, 2.7, 600);
      color: #fff;
      text-align: center;
      padding: 1.1rem 0;
      background: transparent linear-gradient(180deg, #f8255e 0%, #830008 100%)
        0% 0% no-repeat padding-box;
    }
    .football-fixture {
      border: 1px solid #e5e5e5;
      border-radius: 0 0 1rem 1rem;
      &-name {
        background: #e5e5e5;
        @include font(2, 2.7, 600);
        color: #000;
        padding: 1.1rem 0;
        text-align: center;
        display: block;
        @include media-breakpoint-down(sm) {
          @include font(1.6, 2.2);
        }
      }
      .owl-nav {
        display: block;
      }
      .owl-nav button {
        background: transparent;
        border: 0;
        position: absolute;
        top: 1.6rem;
        transition: all 0.5s;
        @include box(1.7rem);
        margin: 0;
        border-radius: 50%;
        &:hover {
          background-color: #e5e5e5 !important;
        }
      }
      .owl-nav button.owl-prev {
        left: 2rem;
        @include media-breakpoint-down(sm) {
          left: 1.8rem;
        }
      }
      .owl-nav button.owl-next {
        right: 2rem;
        @include media-breakpoint-down(sm) {
          right: 1.8rem;
        }
      }
      .owl-nav button.owl-prev,
      .owl-nav button.owl-next {
        &:hover {
          background-color: transparent;
          color: #333;
        }
        img {
          @include box(100%);
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
        }
      }
    }
    .result-match-list {
      padding: 0 2rem 1rem;
    }
    .result-match-item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem 0;
      gap: 0 1rem;
      @include media-breakpoint-down(sm) {
        padding: 1.8rem 0;
        gap: 0 0.9rem;
      }
      & + .result-match-item {
        border-top: 1px solid #e5e5e5;
      }
      .football-club {
        display: flex;
        align-items: center;
        flex: 1;
        gap: 0.5rem;
        &:first-of-type {
          flex-direction: row-reverse;
        }
        &__name {
          color: #1a1a1a;
          @include font(1.4, 1.9);
        }
        &__image {
          @include box(2.4rem);
          display: block;
          @include media-breakpoint-down(sm) {
            @include box(2.3rem);
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .result-match {
        background: #f5f5f5;
        border-radius: 0.4rem;
        padding: 0.5rem 1rem;
        color: #1a1a1a;
        @include font(1.4, 1.9, 600);
        flex-shrink: 0;
        @include media-breakpoint-down(sm) {
          @include font(1.3, 1.8);
        }
      }
    }
  }
  .news-category {
    .row {
      margin-bottom: 8rem;
      @include media-breakpoint-down(sm) {
        margin-bottom: 3.5rem;
      }
    }
    &-title {
      @include section-title;
    }

    .box-blog-post {
      .box-image {
        border-radius: 0.6rem;
      }
      &__title {
        @include font(2, 2.7, 600);
        margin-bottom: 1.5rem;
        color: #000;
        @include line-clamp(1);
        @include media-breakpoint-down(sm) {
          @include font(1.6, 2.2);
          -webkit-line-clamp: 2;
          margin-bottom: 0.6rem;
        }
      }
      &__desc {
        color: #1a1a1a;
        @include font(1.6, 2.2);
        margin-bottom: 1.5rem;
        @include line-clamp(2);
        @include media-breakpoint-down(sm) {
          @include font(1.4, 1.9);
          -webkit-line-clamp: 3;
          margin-bottom: 0.6rem;
        }
      }
      &__date {
        @include font(1.4, 1.9);
        color: #777777;
        display: inline-flex;
        align-items: center;
        &::before {
          content: '';
          display: inline-block;
          background: url(../images/icon-date-gray.svg) no-repeat center;
          background-size: contain;
          @include box(1.4rem);
          margin-right: 0.5rem;
        }
      }
      a {
        position: relative;
      }
    }
    &.news-category--first {
      .col-news-category {
        padding-bottom: 1.5rem;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          width: calc(100% - 3rem);
          left: 1.5rem;
          bottom: 0;
          height: 0;
          border-bottom: 1px solid #e5e5e5;
        }
      }
      .news-category-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 3rem;
        @include media-breakpoint-down(md) {
          grid-template-columns: repeat(1, 1fr);
        }
      }
      .box-blog-post:not(:first-of-type, :last-of-type) {
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
        border-bottom: 1px solid #e5e5e5;
        @include media-breakpoint-down(sm) {
          padding-bottom: 1rem;
          margin-bottom: 1.4rem;
        }
      }
      .box-blog-post--first {
        grid-row: 1/4;
        position: relative;
        @include media-breakpoint-down(md) {
          margin-bottom: 3rem;
        }
        @include media-breakpoint-down(sm) {
          margin-bottom: 1.4rem;
        }
        &::before {
          content: '';
          width: 0.1rem;
          height: 100%;
          background: #e5e5e5;
          display: inline-block;
          position: absolute;
          right: -1.5rem;
          top: 0;
        }
        .box-image {
          @include img-cover(73.685%);
          @include media-breakpoint-down(sm) {
            padding-top: 75.075%;
          }
          &::before {
            content: '';
            display: block;
            @include box(100%);
            position: absolute;
            background: linear-gradient(
              180deg,
              #fff0 25%,
              #0000003f 50%,
              #000000e8 80%,
              #000 100%
            );
            inset: 0;
            z-index: 1;
            opacity: 0.7;
          }
        }
        .box-content {
          position: absolute;
          bottom: 0;
          width: 100%;
          padding: 2rem;
          z-index: 2;
          @include media-breakpoint-down(sm) {
            padding: 1rem;
          }
          .box-blog-post__title {
            @include font(2, 2.7, 600);
            color: #fff;
            margin-top: 1rem;
            margin-bottom: 0;
            @include media-breakpoint-down(sm) {
              @include font(1.6, 2.2);
              -webkit-line-clamp: 2;
            }
          }
          .box-blog-post__date {
            @include font(1.4, 1.9);
            color: #fff;
            display: inline-flex;
            align-items: center;
            &::before {
              content: '';
              display: inline-block;
              background: url(../images/icon-date-white.svg) no-repeat center;
              background-size: contain;
              @include box(1.4rem);
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
    &.news-category--second {
      .row {
        padding-bottom: 1.5rem;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          width: calc(100% - 3rem);
          left: 1.5rem;
          bottom: 0;
          height: 0;
          border-bottom: 1px solid #e5e5e5;
        }
      }
      .col-news-category:first-of-type {
        border-right: 1px solid #e5e5e5;
        @include media-breakpoint-down(md) {
          margin-bottom: 3rem;
        }
      }
      .box-blog-post {
        a {
          display: flex;
          gap: 2rem;
          @include media-breakpoint-down(sm) {
            gap: 1rem;
          }
        }
        .box-image {
          @include img-cover(16.9rem);
          display: inline-block;
          width: 16.9rem;
          flex-shrink: 0;
          @include media-breakpoint-down(sm) {
            width: 8rem;
            padding-top: 8rem !important;
          }
        }

        &:not(:last-of-type) {
          padding-bottom: 1.5rem;
          margin-bottom: 1.5rem;
          border-bottom: 1px solid #e5e5e5;
          @include media-breakpoint-down(sm) {
            padding-bottom: 1rem;
            margin-bottom: 1rem;
          }
        }
        &__title {
          -webkit-line-clamp: 2;
        }
        &__desc {
          -webkit-line-clamp: 3;
        }
      }
    }
    &.news-category--third {
      .row {
        padding-bottom: 1.5rem;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          width: calc(100% - 3rem);
          left: 1.5rem;
          bottom: 0;
          height: 0;
          border-bottom: 1px solid #e5e5e5;
        }
        @include media-breakpoint-down(sm) {
          padding-bottom: 0;
          margin-bottom: 0;
          &::after {
            display: none;
          }
        }
      }
      .col-news-category:first-of-type {
        border-right: 1px solid #e5e5e5;
        @include media-breakpoint-down(md) {
          margin-bottom: 3rem;
        }
        @include media-breakpoint-down(sm) {
          margin-bottom: 0;
        }
      }
      .news-category-list {
        @include media-breakpoint-down(sm) {
          margin-bottom: 5rem;
        }
      }
      .box-blog-post {
        a {
          display: flex;
          gap: 2rem;
          @include media-breakpoint-down(sm) {
            gap: 1rem;
          }
        }
        .box-image {
          @include img-cover(16.9rem);
          display: inline-block;
          width: 16.9rem;
          flex-shrink: 0;
          @include media-breakpoint-down(sm) {
            width: 8rem;
            padding-top: 8rem !important;
          }
        }

        &:not(:last-of-type) {
          padding-bottom: 1.5rem;
          margin-bottom: 1.5rem;
          border-bottom: 1px solid #e5e5e5;
          @include media-breakpoint-down(sm) {
            padding-bottom: 1rem;
            margin-bottom: 1rem;
          }
        }
        &:last-of-type {
          @include media-breakpoint-down(sm) {
            padding-bottom: 1rem;
            border-bottom: 1px solid #e5e5e5;
          }
        }
        &:nth-of-type(n + 2) {
          .box-image {
            display: none;
            @include media-breakpoint-down(sm) {
              display: block;
            }
          }
        }
        &__title {
          -webkit-line-clamp: 2;
        }
        &:first-of-type {
          .box-blog-post__desc {
            -webkit-line-clamp: 3;
          }
        }
      }
      .col-news-category:last-of-type {
        .news-category-list {
          .box-blog-post:nth-of-type(n + 2) {
            display: none;
            @include media-breakpoint-down(sm) {
              display: block;
            }
          }
        }
      }
      .news-category-slider {
        padding-right: 2.1rem;
        @include media-breakpoint-down(sm) {
          display: none;
        }
        &--top {
          padding-bottom: 5.8rem;
          margin-bottom: 5.8rem;
          border-bottom: 1px solid #e5e5e5;
        }

        .box-blog-post {
          &__title {
            margin-bottom: 0;
            color: #1a1a1a;
            padding-left: 1.5rem;
            position: relative;
            display: -webkit-box;
            &::before {
              content: '';
              background: #aaaaaa;
              display: inline-block;
              border-radius: 50%;
              @include box(0.9rem);
              position: absolute;
              left: 0;
              top: 0.9rem;
            }
          }
        }
        .owl-nav {
          .owl-prev {
            display: none;
          }
          .owl-next {
            background: transparent;
            border: 0;
            position: absolute;
            top: 1.6rem;
            right: 0;
            transition: all 0.5s;
            width: 1.7rem;
            height: 1.7rem;
            margin: 0;
            border-radius: 50%;

            &:hover {
              background-color: transparent;
              color: #333;
            }
            img {
              @include box(100%);
              display: inline-flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
  .photo-home,
  .backstage-home {
    padding-bottom: 8rem;
    @include media-breakpoint-down(sm){
      padding-bottom: 5rem;
    }
    &-list {
      @include owl(-6rem);
      .owl-nav {
        display: block;
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
    &-title {
      @include section-title;
    }
    .box-blog-post {
      @include media-breakpoint-down(sm) {
        width: 14rem;
      }
      .box-image {
        @include img-cover(60%);
        border-radius: 0.6rem;
      }
      &__title {
        @include font(2, 2.7, 600);
        margin-top: 1.5rem;
        color: #000;
        @include line-clamp(3);
        @include media-breakpoint-down(sm) {
          @include font(1.6, 2.2);
          margin-top: 0.6rem;
        }
      }
    }
    .photo-home-list {
      padding-bottom: 1.5rem;
      border-bottom: 1px solid #e5e5e5;
      @include media-breakpoint-down(sm){
        border: none;
        padding-bottom: 0;
      }
    }
  }
  .video-home {
    padding: 3rem 0;
    margin-bottom: 8rem;
    background: #0f172a;
    @include media-breakpoint-down(sm) {
      display: none;
    }
    &-title {
      margin-bottom: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .link-youtube {
        display: flex;
        align-items: center;
        @include font(1.6, 2.2);
        color: #aaa;
        img {
          @include box(9rem, 4.8rem);
          margin-left: 1rem;
        }
      }
    }
    &-heading {
      display: flex;
      align-items: center;
      @include font(2.4, 3.3, bold);
      color: #fff;
      img {
        @include box(3.6rem);
        margin-right: 1rem;
      }
    }
    .video-list {
      max-height: 47.5rem;
      overflow-y: auto;
      padding-right: 0.5rem;
      @include media-breakpoint-down(lg) {
        max-height: 36rem;
      }
      &::-webkit-scrollbar {
        width: 5px;
        margin-right: 5px;
      }
      &::-webkit-scrollbar-track {
        background: #707070;
        border-radius: 10rem;
      }
      &::-webkit-scrollbar-thumb {
        background: #fff;
        max-height: 40px;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #fff;
      }
    }
    .video-item {
      display: flex;
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid #e5e5e5;
      cursor: pointer;
      .box-image {
        display: block;
        width: 17rem;
        @include img-cover(10rem);
        flex-shrink: 0;
        border-radius: 0.6rem;
      }
      .box-text {
        flex: 1;
        padding-left: 1rem;
      }
      &__time {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        background: #000;
        color: #fff;
        border-radius: 0.2rem;
        padding: 0.5rem;
        @include font(1.4, 1.9);
      }
      &__active {
        @include box(100%);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        inset: 0;
        background: rgb(0 0 0 / 70%);
        z-index: 2;
        transition: all 0.4s linear;
        @include font(1.6, 2.2, 600);
        color: #fff;
      }
      &__title {
        @include font(1.6, 2.2, 600);
        color: #fff;
        @include line-clamp(3);
      }
      &__cate {
        @include font(1.4, 1.9);
        color: #aaaaaa;
        margin-top: 1.5rem;
      }

      &.is-select {
        .video-item__time {
          display: none;
        }
        .box-image::before {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .box-video {
      .video-name {
        @include font(3, 4.1, 600);
        color: #fff;
        margin-top: 1.5rem;
        @include media-breakpoint-down(lg) {
          @include font(2, 2.7);
        }
        @include media-breakpoint-down(lg) {
          margin-bottom: 2rem;
        }
      }
      .video {
        position: relative;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
        padding-top: 54.416%;
        border-radius: 0.6rem;
      }
    }
    .video-js {
      right: 0;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      top: 0;
      position: absolute;
      -o-object-position: 50% 50%;
      object-position: 50% 50%;
      -o-object-fit: cover;
      object-fit: cover;
      font-family: 'object-fit: cover;';
      transition: all 0.4s ease;
      &.vjs-paused {
        .vjs-big-play-button {
          @include box(10rem);
          border-radius: 50%;
          border: 1px solid rgb(255 255 255 / 50%);
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          background: transparent url(../images/icon-play.svg) no-repeat center;
          background-size: 4rem;
          display: block;
          .vjs-icon-placeholder {
            &::before {
              content: '';
            }
          }
        }
      }
      .button-setting {
        @include box(2.4rem);
        position: absolute;
        background: transparent url(../images/icon-setting.svg) no-repeat center;
        background-size: contain;
        right: 9.4rem;
      }
      .vjs-play-control {
        @include box(2.4rem);
        @include font(2.4, 2.4, 700);
        margin-right: 2rem;
        &::before {
          @include fa5('\f04b');
        }
        &.vjs-playing::before {
          @include fa5('\f04c');
        }
        .vjs-icon-placeholder:before {
          display: none;
        }
      }
      .vjs-fullscreen-control {
        @include box(2.4rem);
        @include font(2.4, 2.4, 700);
        margin-left: auto;
        &::before {
          @include fa5('\f065');
        }
        .vjs-icon-placeholder:before {
          display: none;
        }
      }
      .vjs-control-bar {
        display: flex;
        height: 5.6rem;
        background: transparent;
        padding: 1.2rem 4rem 2rem;
      }
      .vjs-volume-panel {
        align-items: center;
        margin-right: 1.5rem;
      }
      .vjs-mute-control {
        @include box(2.4rem);
        margin-right: 1rem;
        .vjs-icon-placeholder:before {
          @include font(3.4, 2.4);
        }
      }
      .vjs-progress-control {
        position: absolute;
        width: calc(100% - 2rem);
        left: 1rem;
        height: 1.6rem;
        bottom: 5.6rem;
        .vjs-play-progress {
          height: 0.6rem;
          background: #c20000;
          border-radius: 9rem;

          &:before {
            font-size: 1.6rem;
            color: #c20000;
          }
        }
        .vjs-load-progress div {
          background: #929292;
        }
        .vjs-progress-holder {
          height: 0.6rem;
          background: #929292;
          border-radius: 9rem;
        }
      }
      .vjs-current-time,
      .vjs-time-control,
      .vjs-duration {
        display: block;
        @include font(1.6, 2.2, 600);
        color: #b7b7b7;
        font-family: 'OpenSans', sans-serif;
        padding: 0;
      }
      .vjs-time-control {
        padding: 0 0.3rem;
        min-width: unset;
      }
      &.vjs-fullscreen {
        .vjs-fullscreen-control {
          &::before {
            @include fa5('\f326');
          }
        }
      }
    }
  }
}
