// sass ./sass/video-page.scss ./css/video-page.css --watch
@import 'variables';
@import 'mixin';
@import 'reset';
@import 'global';
@import 'header';
@import 'footer';

.video-page {
  .video-wrapper {
    padding: 3rem 0;
    margin-bottom: 8rem;
    background: #0f172a;
    @include media-breakpoint-down(sm){
        margin-bottom: 3rem;
    }
    &-title {
      margin-bottom: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include media-breakpoint-down(sm) {
        flex-direction: column;
        gap: 1rem;
      }
      .link-youtube {
        display: flex;
        align-items: center;
        @include font(1.6, 2.2);
        color: #aaa;
        img {
          @include box(9rem, 4.8rem);
          margin-left: 1rem;
        }
      }
    }
    &-heading {
      display: flex;
      align-items: center;
      @include font(2.4, 3.3, bold);
      color: #fff;
      img {
        @include box(3.6rem);
        margin-right: 1rem;
      }
    }
    .video-list {
      max-height: 47.5rem;
      overflow-y: auto;
      padding-right: 0.5rem;
      @include media-breakpoint-down(lg) {
        max-height: 36rem;
      }
      &::-webkit-scrollbar {
        width: 5px;
        margin-right: 5px;
      }
      &::-webkit-scrollbar-track {
        background: #707070;
        border-radius: 10rem;
      }
      &::-webkit-scrollbar-thumb {
        background: #fff;
        max-height: 40px;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #fff;
      }
    }
    .video-item {
      display: flex;
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid #e5e5e5;
      cursor: pointer;
      .box-image {
        display: block;
        width: 17rem;
        @include img-cover(10rem);
        flex-shrink: 0;
        border-radius: 0.6rem;
      }
      .box-text {
        flex: 1;
        padding-left: 1rem;
      }
      &__time {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        background: #000;
        color: #fff;
        border-radius: 0.2rem;
        padding: 0.5rem;
        @include font(1.4, 1.9);
      }
      &__active {
        @include box(100%);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        inset: 0;
        background: rgb(0 0 0 / 70%);
        z-index: 2;
        transition: all 0.4s linear;
        @include font(1.6, 2.2, 600);
        color: #fff;
      }
      &__title {
        @include font(1.6, 2.2, 600);
        color: #fff;
        @include line-clamp(3);
      }
      &__cate {
        @include font(1.4, 1.9);
        color: #aaaaaa;
        margin-top: 1.5rem;
      }

      &.is-select {
        .video-item__time {
          display: none;
        }
        .box-image::before {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .box-video {
      .video-name {
        @include font(3, 4.1, 600);
        color: #fff;
        margin-top: 1.5rem;
        @include media-breakpoint-down(lg) {
          @include font(2, 2.7);
        }
        @include media-breakpoint-down(lg) {
          margin-bottom: 2rem;
        }
        @include media-breakpoint-down(sm){
            @include font(1.6, 2.2);
        }
      }
      .video {
        position: relative;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
        padding-top: 54.416%;
        border-radius: 0.6rem;
      }
    }
    .video-js {
      right: 0;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      top: 0;
      position: absolute;
      -o-object-position: 50% 50%;
      object-position: 50% 50%;
      -o-object-fit: cover;
      object-fit: cover;
      font-family: 'object-fit: cover;';
      transition: all 0.4s ease;
      &.vjs-paused {
        .vjs-big-play-button {
          @include box(10rem);
          border-radius: 50%;
          border: 1px solid rgb(255 255 255 / 50%);
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          background: transparent url(../images/icon-play.svg) no-repeat center;
          background-size: 4rem;
          display: block;
          @include media-breakpoint-down(sm) {
            @include box(5rem);
            background-size: 2.5rem;
          }
          .vjs-icon-placeholder {
            &::before {
              content: '';
            }
          }
        }
      }
      .button-setting {
        @include box(2.4rem);
        position: absolute;
        background: transparent url(../images/icon-setting.svg) no-repeat center;
        background-size: contain;
        right: 9.4rem;
        @include media-breakpoint-down(sm) {
          right: 5.4rem;
          @include box(2rem);
        }
      }
      .vjs-play-control {
        @include box(2.4rem);
        @include font(2.4, 2.4, 700);
        margin-right: 2rem;
        @include media-breakpoint-down(sm) {
          @include box(2rem);
          @include font(1.8, 1.8);
        }
        &::before {
          @include fa5('\f04b');
        }
        &.vjs-playing::before {
          @include fa5('\f04c');
        }
        .vjs-icon-placeholder:before {
          display: none;
        }
      }
      .vjs-fullscreen-control {
        @include box(2.4rem);
        @include font(2.4, 2.4, 700);
        margin-left: auto;
        @include media-breakpoint-down(sm) {
          @include box(2rem);
          @include font(2, 2);
        }
        &::before {
          @include fa5('\f065');
        }
        .vjs-icon-placeholder:before {
          display: none;
        }
      }
      .vjs-control-bar {
        display: flex;
        height: 5.6rem;
        background: transparent;
        padding: 1.2rem 4rem 2rem;
        @include media-breakpoint-down(sm) {
          padding: 1.2rem;
          align-items: center;
        }
      }
      .vjs-volume-panel {
        align-items: center;
        margin-right: 1.5rem;
      }
      .vjs-mute-control {
        @include box(2.4rem);
        margin-right: 1rem;
        .vjs-icon-placeholder:before {
          @include font(3.4, 2.4);
        }
        @include media-breakpoint-down(sm) {
          @include box(2rem);
          .vjs-icon-placeholder:before {
            @include font(2, 2);
          }
        }
      }
      .vjs-progress-control {
        position: absolute;
        width: calc(100% - 2rem);
        left: 1rem;
        height: 1.6rem;
        bottom: 5.6rem;
        .vjs-play-progress {
          height: 0.6rem;
          background: #c20000;
          border-radius: 9rem;

          &:before {
            font-size: 1.6rem;
            color: #c20000;
          }
        }
        .vjs-load-progress div {
          background: #929292;
        }
        .vjs-progress-holder {
          height: 0.6rem;
          background: #929292;
          border-radius: 9rem;
        }
      }
      .vjs-current-time,
      .vjs-time-control,
      .vjs-duration {
        display: flex;
        align-items: center;
        @include font(1.6, 2.2, 600);
        color: #b7b7b7;
        font-family: 'OpenSans', sans-serif;
        padding: 0;
      }
      .vjs-time-control {
        padding: 0 0.3rem;
        min-width: unset;
      }
      &.vjs-fullscreen {
        .vjs-fullscreen-control {
          &::before {
            @include fa5('\f326');
          }
        }
      }
    }
  }
  .video-pagination {
    margin-top: 3rem;
    @include media-breakpoint-down(sm) {
      margin-bottom: 3rem;
    }
    .pagination {
      justify-content: center;
      .page-link {
        @include font-size(1.4, 2.2);
        border: none;
        color: #000000d9;
        padding: 0rem 0.8rem;
      }
      .page-item {
        &.active .page-link {
          background-color: unset;
          color: $primary-color;
        }
        &.disabled .page-link {
          color: #d9d9d9;
        }
      }
    }
  }
  .video-topviews {
    padding-bottom: 8rem;
    @include media-breakpoint-down(sm){
        padding-bottom: 0;
    }
    &-title {
      @include font(2, 2.7, 600);
      color: #000000;
      margin-bottom: 3.5rem;
      position: relative;
      display: inline-block;
      &::before {
        content: '';
        width: 100%;
        display: block;
        height: 0;
        position: absolute;
        bottom: -0.5rem;
        border-bottom: 1px solid $primary-color;
      }
    }
    &-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 3rem;
      @include media-breakpoint-down(sm){
        grid-template-columns: repeat(1, 1fr);
      }
      .video-item {
        .box-image {
          border-radius: 1rem;
          @include img-cover(58.89%);
        }
        &__time {
          position: absolute;
          bottom: 1rem;
          left: 1rem;
          background: #000;
          color: #fff;
          border-radius: 0.2rem;
          padding: 0.5rem;
          @include font(1.4, 1.9);
        }
        &__title {
          @include font(1.6, 2.2, 600);
          color: #000;
          @include line-clamp(3);
          margin-top: 1.5rem;
        }
        &__cate {
          @include font(1.4, 1.9);
          color: #aaaaaa;
          margin-top: 1.5rem;
        }
      }
    }
  }
}
