.header {
  @include box(100%, 12.4rem);
  position: absolute;
  inset: 0;
  z-index: 2;
  padding: 3rem 0 0.5rem;

  &-main {
    height: 9.4rem;
    background: transparent;
    .header-nav {
      .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 3rem;
        @include media-breakpoint-down(lg) {
          gap: 0 2rem;
        }
        &-item.active .menu-link {
          color: $primary-color;
          &::before {
            transform: scaleX(1);
            transform-origin: bottom left;
            color: $primary-color;
          }
        }
        &-link {
          @include font-size(1.4, 1.9);
          font-weight: 600;
          color: $white;
          position: relative;
          &::before {
            content: '';
            position: absolute;
            display: block;
            bottom: -0.5rem;
            left: 0;
            width: 100%;
            border-top: 2px solid;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
            transform: scaleX(0);
          }
          &:hover {
            color: $primary-color;
          }
          &:hover::before {
            transform: scaleX(1);
            transform-origin: bottom left;
            color: $primary-color;
          }
        }
        .icon-search {
          color: $white;
          font-size: 18px;
          cursor: pointer;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
  &-logo {
    text-align: center;
    margin-bottom: 3rem;
    .logo {
      display: inline-block;
    }
    img {
      height: 4rem;
    }
  }
}
